 <!--FOOTER START-->
  <footer id="footer">
    <section class="footer-section-1">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <h3>Upcoming Events</h3>
              <div class="event-widget">
                <ul>
                  <li> <strong class="date">19 <span>DEC, 2016</span></strong> <a href="#">Village Electrition Committee
                    going to Inauguration...</a> <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</span> </li>
                  <li> <strong class="date">07 <span>JAN, 2016</span></strong> <a href="#">Fusce fermentum augue non
                    quam sagittis aliquam.</a> <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</span> </li>
                  <li> <strong class="date">23 <span>FEB, 2016</span></strong> <a href="#">Morbi maximus lacus ac sem
                    egestas, ut tempus quam.</a> <span class="time"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</span> </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <h3>We Are Doing</h3>
              <div class="doing">
                <ul>
                  <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Impact the World</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Arrange Donations for Needy</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Affective Causes</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Organize Charity Events</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Educational Fundraising</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Healthy Food Supply</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <h3>Latest Tweets</h3>
              <div class="tweets-box">
                <ul>
                  <li>
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo <a href="#">https://twitter.com/crunchpress</a></p>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <div class="holde"> <span class="name">@Kevin.Richard</span> <span class="time">17 hours ago</span> </div>
                  </li>
                  <li>
                    <p>Cras mattis consectetur purus sit amet fermentum, dec ullamcorper a non auctor <a href="#">https://twitter.com/crunchpress</a></p>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <div class="holde"> <span class="name">@mark.vilton</span> <span class="time">19 hours ago</span> </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="box">
              <h3>Stay in Touch</h3>
              <div class="address">
                <ul>
                  <li><i class="fa fa-home" aria-hidden="true"></i>Care Building, 546 South, Smith Avenue, New York</li>
                  <li><i class="fa fa-phone-square" aria-hidden="true"></i>+44 1234 5678</li>
                  <li><i class="fa fa-skype" aria-hidden="true"></i><a href="#">the.needs@skype.com</a></li>
                  <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:">contact@theneeds.com</a></li>
                  <li><i class="fa fa-globe" aria-hidden="true"></i><a href="mailto:">www.theneeds.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="instagram-row">
      <div class="container">
        <h3>Follow us on Instagram</h3>
        <ul>
          <li><a href="#"><img src="/images/instagram-img-1.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-2.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-3.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-4.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-5.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-6.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-7.jpg" alt="img"></a></li>
          <li><a href="#"><img src="/images/instagram-img-8.jpg" alt="img"></a></li>
        </ul>
      </div>
    </section>
    <section class="copyrights-section"><strong class="copy"><a href="#">TheNeeds</a> &copy; 2017, All Rights Reserved, Design &amp; Developed By: <a href="#">CrunchPress</a></strong></section>
  </footer>
  <!--FOOTER END--> 