 <!--WELCOME SECTION START-->
    <section class="welcome-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7">
            <div class="heading-style-1"> <span class="title">By Your Donation</span>
              <h2>What We’re Doing</h2>
              <em>“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout the point of using Lorem Ipsum”</em> </div>
            <div class="row">
              <div class="col-md-6">
                <div class="box">
                  <div class="icon-col"> <i class="fa fa-globe" aria-hidden="true"></i> </div>
                  <div class="text-col">
                    <h4><a href="#">Impact the World</a></h4>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="icon-col"> <i class="fa fa-money" aria-hidden="true"></i> </div>
                  <div class="text-col">
                    <h4><a href="#">Arrange Donations</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="icon-col"> <i class="fa fa-heart" aria-hidden="true"></i> </div>
                  <div class="text-col">
                    <h4><a href="#">Affective Causes</a></h4>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div class="icon-col"> <i class="fa fa-users" aria-hidden="true"></i> </div>
                  <div class="text-col">
                    <h4><a href="#">Charity Events</a></h4>
                    <p>Voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusd et aut officiis debitis aut rerum.</p>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="btn-style-1">Learn More<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
          <div class="col-md-4 col-sm-5">
            <div class="welcome-donate-box">
              <div class="holder"> <strong class="title">We’re Near to Our</strong>
                <h2>Campaign</h2>
                <strong class="title">very Far ...</strong>
                <p>News of charity campaigns lorum prompta, mel ea sumo semper nusqe, soluta intellegebat vim id.</p>
                <div class="donate-goal-box">
                  <ul>
                    <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
                    <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
                    <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
                    <li> <span class="title">Time Remain:</span> <strong class="amount">397 Days Left</strong> </li>
                  </ul>
                  <div class="progress progress-bar-vertical">
                    <div class="progress-bar" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="height: 56%;"> <span class="sr-only">56<sup>%</sup></span> </div>
                  </div>
                  <div class="btn-row"><a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--WELCOME SECTION END--> 
    
    <!--RECENT PROJECT VIDEO SECTION START-->
    <section class="recent-project-video">
      <div class="holder">
        <div class="video-box"> <a href="#" class="btn-play" data-toggle="modal" data-target="#myModal"></a>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <iframe src="https://player.vimeo.com/video/72029895"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-col">
          <div class="heading-style-1"> <span class="title">We Worked on Several Projects</span>
            <h2>Watch Recent Projects Report</h2>
          </div>
          <ul>
            <li>
              <div class="icon-col"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
              <div class="box">
                <h4>Educational FundRaising</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              </div>
            </li>
            <li>
              <div class="icon-col"><i class="fa fa-coffee" aria-hidden="true"></i></div>
              <div class="box">
                <h4>Healthy Food Supply chain</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
              </div>
            </li>
          </ul>
          <a href="#" class="btn-style-1">Watch More Vidoes<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </section>
    <!--RECENT PROJECT VIDEO SECTION END--> 


     <!--TESTIMONIALS STYLE 1 START-->
     <section class="testimonial-style-1">
      <div class="holder">
        <div id="testimonial-1" class="owl-carousel">
          <div class="item">
            <div class="left-box"> <strong class="title">Some Good Words</strong> <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu.</em>
              <div class="thumb"><img src="images/testi-img-1.jpg" alt="img"></div>
              <div class="holde">
                <h4>Johnson Keti </h4>
                <span class="name"><em>Program Manager,</em> Charity Club</span> </div>
            </div>
          </div>
          <div class="item">
            <div class="left-box"> <strong class="title">Some Good Words</strong> <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu.</em>
              <div class="thumb"><img src="images/testi-img-1.jpg" alt="img"></div>
              <div class="holde">
                <h4>Johnson Keti </h4>
                <span class="name"><em>Program Manager,</em> Charity Club</span> </div>
            </div>
          </div>
          <div class="item">
            <div class="left-box"> <strong class="title">Some Good Words</strong> <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu.</em>
              <div class="thumb"><img src="images/testi-img-1.jpg" alt="img"></div>
              <div class="holde">
                <h4>Johnson Keti </h4>
                <span class="name"><em>Program Manager,</em> Charity Club</span> </div>
            </div>
          </div>
          <div class="item">
            <div class="left-box"> <strong class="title">Some Good Words</strong> <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu.</em>
              <div class="thumb"><img src="images/testi-img-1.jpg" alt="img"></div>
              <div class="holde">
                <h4>Johnson Keti </h4>
                <span class="name"><em>Program Manager,</em> Charity Club</span> </div>
            </div>
          </div>
        </div>
        <div class="join-form">
          <div class="heading-style-1">
            <h2>Join us Now</h2>
            <em>Sed do eiusmod tempor incididunt ut labore et dolor</em> </div>
          <form action="#">
            <input type="text" placeholder="Full Name" required>
            <input type="text" placeholder="Email" required>
            <input type="text" placeholder="Contact" required>
            <input type="submit" value="Join us">
          </form>
        </div>
      </div>
    </section>
    <!--TESTIMONIALS STYLE 1 END--> 

    <!-- Projects -->
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-1.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Children Are our Best Future</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="82"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-2.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Help Syrian Homeless People</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="50"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-3.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Free Education For Poor</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="67"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-1.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Children Are our Best Future</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="82"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-2.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Help Syrian Homeless People</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="50"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="iteam">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-3.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Free Education For Poor</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="67"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-1.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Children Are our Best Future</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="82"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-2.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Help Syrian Homeless People</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="50"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="iteam">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-3.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Free Education For Poor</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="67"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-1.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Children Are our Best Future</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="82"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="item">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-2.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Help Syrian Homeless People</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="50"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>
    <div class="iteam">
      <div class="box">
        <div class="frame"><a href="#"><img src="images/causes/causes-style-img-3.jpg" alt="img"></a></div>
        <div class="text-box">
          <h3>Free Education For Poor</h3>
          <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>Care Building, 546 South, New York</a> </div>
          <div class="causes-goal-box">
            <ul>
              <li> <span class="title">Goal:</span> <strong class="amount"><sup>$</sup>685,200</strong> </li>
              <li> <span class="title">Raised:</span> <strong class="amount"><sup>$</sup>472,183</strong> </li>
              <li> <span class="title">Donators:</span> <strong class="amount">14 Donors</strong> </li>
              <li> <span class="title">Time Remain:</span> <strong class="amount">267 Days Left</strong> </li>
            </ul>
            <div class="pie-title-center demo-pie-1" data-percent="67"> <span class="pie-value"></span><b>completed</b> </div>
          </div>
          <a href="#" class="btn-style-1">Donate Now<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
      </div>
    </div>

    <!-- Events-->

    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">30 <span>DEC, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Help Syrian Homeless People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">19 <span>Jan, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Voluntarily Program to Serve over 36,000 People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">24 <span>FEB, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Open your Helping Hands for those who are Needy</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">30 <span>DEC, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Help Syrian Homeless People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">19 <span>Jan, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Voluntarily Program to Serve over 36,000 People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">24 <span>FEB, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Open your Helping Hands for those who are Needy</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">30 <span>DEC, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Help Syrian Homeless People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">19 <span>Jan, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Voluntarily Program to Serve over 36,000 People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">24 <span>FEB, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Open your Helping Hands for those who are Needy</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">30 <span>DEC, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Help Syrian Homeless People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="clearfix">
        <div class="event-style-1-box">
          <div class="left-box"> <strong class="date">19 <span>Jan, 2016</span></strong>
            <div class="holde">
              <h3><a href="#">Voluntarily Program to Serve over 36,000 People</a></h3>
              <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>10:00 am - 05:00 pm</a> <a href="#" class="link"><i class="fa fa-map-marker" aria-hidden="true"></i>874 South Building, New York</a> </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore ut aliquip ex ea commodo consequat. ...<a href="#">[+]</a></p>
            </div>
          </div>
          <div class="right-box"> <a href="#" class="btn-detail">Buy Tickets</a> <a href="#" class="btn-detail">More Details</a>
            <div class="event-style1-timer-box">
              <div class="defaultCountdown"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BLOGS -->

     <!--BLOG STYLE 1 START-->
     <section class="blog-style-1">
      <div class="container">
        <div class="heading-style-1"> <span class="title">Our Latest</span>
          <h2>Blog Posts</h2>
          <em>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em> </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="style-1">
              <div class="frame"><a href="#"><img src="images/blog/blog-style-1-img.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="clearfix">
                  <div class="thumb"><img src="images/blog/author-img-1.jpg" alt="img"></div>
                  <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> </div>
                </div>
                <h3><a href="#">Children have Best Future</a></h3>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
                <a href="#" class="btn-more">Read Details</a> </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="style-1">
              <div class="frame"><a href="#"><img src="images/blog/blog-style-2-img.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="clearfix">
                  <div class="thumb"><img src="images/blog/author-img-2.jpg" alt="img"></div>
                  <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> </div>
                </div>
                <h3><a href="#">Stop Women Violence</a></h3>
                <p>Voluptas assumenda est, omnis dolor repellendus. Tempor autem quibusdam et aut officiis debitis aut pecessitatibus.</p>
                <a href="#" class="btn-more">Read Details</a> </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="style-1">
              <div class="frame"><a href="#"><img src="images/blog/blog-style-3-img.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="clearfix">
                  <div class="thumb"><img src="images/blog/author-img-3.jpg" alt="img"></div>
                  <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> </div>
                </div>
                <h3><a href="#">shelter Homes for orphan</a></h3>
                <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas.</p>
                <a href="#" class="btn-more">Read Details</a> </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="style-1">
              <div class="frame"><a href="#"><img src="images/blog/blog-style-4-img.jpg" alt="img"></a></div>
              <div class="text-box">
                <div class="clearfix">
                  <div class="thumb"><img src="images/blog/author-img-4.jpg" alt="img"></div>
                  <div class="btn-row"> <a href="#" class="link"><i class="fa fa-user" aria-hidden="true"></i>Smith Alvin</a> <a href="#" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>30 Nov, 2016</a> </div>
                </div>
                <h3><a href="#">Lorem ipsum dolor sit</a></h3>
                <p>Cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor.</p>
                <a href="#" class="btn-more">Read Details</a> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--BLOG STYLE 1 END--> 